.null-card {
    width: 282px;
    height: 160px;
    border-radius: 15px;
    position: relative;
    box-shadow: -10px 0px 10px 10px rgb(207, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

  .anime {
    animation: scroll 5s linear infinite;
  }

  .null-card button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
    color: rgb(65, 63, 63);
    background-color: white;
    transition: .3s;
    font-size: 16px;
    font-weight: 600;
  }

  .null-card button:hover {
    box-shadow: 0 0 10px 10px rgb(65, 63, 63);
    background-color: white;
    color: rgb(65, 63, 63);
    font-size: 16px;
    font-weight: 600;
  }